.board {
  background: #0e1525;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  height: 100%; /* This will ensure it takes up the remaining space */
  width: 100%;  /* Adjust width within the parent container */
  flex-grow: 1; /* Allows it to grow within the flex container */
}


.cell{
  /* background: transparent; */
  /* Semi-transparent cells */
}
.snake {
  background: green;
}
.food{
  background: red;
}
.snake_head{
  background: black;
}