.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Full height */
  flex-grow: 1; /* Allows it to grow within the flex container */
}

.board {
  background: #0e1525;
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  height: 75vh; /* 3/4 of the viewport height */
  width: 75vw; /* 3/4 of the viewport width */
  gap: 1px;
}

.cell {
  background-color: seagreen;
  border-radius: 25%;
  /* background: transparent; */
  /* Semi-transparent cells */
}
.snake {
  background: #fff;
}
.food {
  background: red;
}
.snake-head {
  background: orange;
}
