.form {
    width: 450px;
    height: 500px;
    border-radius: 35px;
    background: #7c2d33;
    box-shadow: 0 4px 30px 0 rgba(245, 208, 254, 0.5);
    transition: 0.4s ease-in-out;
  }
  
  .form:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    scale: 0.99;
  }